.portfolio-link:hover {

}
.about-link:hover {

}
.contact-link:hover {

}

.navbar-default .navbar-nav>li>a {
  color:black;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: black;
}


.nav>li>a:hover, .nav>li>a:focus {
  background-color: #5FCAE8;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: black;
    background-color: #5FCAE8;
}

//
// .navbar {
//   height:100px;
//   display:flex;
//   align-items:center ;
//   flex-direction: row;
//   justify-content: left;
//   font-size: 1.5em;
//   margin-left:-50%;
// }
