<div class="contact">
  <h2>AROUND THE WEB</h2>
  <div class="social-media">
    <div class="icons">
      <div class="icon">
        <a href="http://www.github.com/alexUXUI" target="_blank">
          <i class="fa fa-github"></i>
          <div>
            GitHub
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="./ab_resume.pdf">
          <i class="fa fa-file-pdf-o"></i>
          <div>
            Resume
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="http://linkedin.com/in/alexuxui" target="_blank">
          <i class="fa fa-linkedin"></i>
          <div>
            LinkedIn
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="http://twitter.com/alexUX_UI" target="_blank">
          <i class="fa fa-twitter"></i>
          <div>
            Twitter
          </div>
        </a>
      </div>
    </div>
    <div class="icons">
      <div class="icon">
        <a href="http://npmjs.com/~alexg53090" target="_blank">
          <i class="fa fa-code"></i>
          <div>
            NPM
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="http://codepen.io/alexG53090/" target="_blank">
          <i class="fa fa-codepen"></i>
          <div>
            Codepen
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="http://behance.net/alexuxui" target="_blank">
          <i class="fa fa-behance"></i>
          <div>
            Behance
          </div>
        </a>
      </div>
      <div class="icon">
        <a href="http://stackoverflow.com/users/4621842/alex-bennett" target="_blank">
          <i class="fa fa-stack-overflow"></i>
          <div>
            Stack Overflow
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
