<div class="interact">
  <div class="interact-wrapper">
    <h2 class='see'>LEAVE A MESSAGE</h2>
    <hr class="white-pgbrk">
    <form role="form" data-toggle="validator" action='/sendmessage' method="POST">
      <input type="text" name="name" placeholder="Your name here:" data-error="Bruh, that email address is invalid" required>
      <textarea name="message" spellcheck="true" rows="2" cols="50" tabindex="4" placeholder="Your message here:" data-error="Bruh, that email address is invalid" required></textarea>
      <div class="form-group">
        <button type="submit" class="post-btn">Submit</button>
      </div>
    </form>
  </div>
</div>
<hr>
