<form action='/sendmessage' method="POST">
  <input type="text" name="name" placeholder="Your name here:">
  <!-- <input type="text" name="message" > -->
  <textarea name="message" spellcheck="true" rows="2" cols="50" tabindex="4" placeholder="Your message here:"></textarea>
  <input type="submit" value="Sumbit">
</form>
