<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
      </button>
      <a class="navbar-brand" href="#"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="homer"><a href="/">Home</a></li>
        <li><a href="/portfolio" class="portfolio-link">Portfolio</a></li>
        <li><a href="/about" class="about-link">About</a></li>
        <li><a href="/contact" class="contact-link">Contact</a></li>
        <!-- <li><a href="/blog" class='blog-link'>Blog</a></li> -->
        <li><a class='resume' href="./ab_resume.pdf">Resume</a></li>
      </ul>
    </div>
  </div>
</nav>
