<div class="projects">
  <div class="slider-container">
    <div class="slickslide">
      <div class="project flybuy">
        <a href="/flybuy">
          <h3 class="project-title">Fly Buy</h3>
        </a>
        <p>Shows the price of each airline ticket.</p>
        <img src="./flybuyimgs.jpg" class="slide-image" />
        <div class="project-description">
          <div class="description-wrapper">
            <p class="long-description">
              Fly-Buy shows users the prices other people paid for flights. Fly-Buy not only displays the
              Dollar amount of each ticket but also the dates, airline, flight number,
              and purchase location of each airplane ticket. We made this app based on the
              need consumers have, which is the ability to make informed purchases of airline
              tickets, based on accurate and available information.
            </p>
            <p class="long-description">
              Ultimately, the aim of providing the
              Fly-Buy service is to show users how much their peers paid on a given flight, and by extension,
              the information one needs to know whether or not they got a good deal and how to get a better deal
              in the future.
            </p>
            <p class="long-description">
              Keeping user experience at the core of our product, we made sure to include features that help the user
             navigate our app. These usability features include automatic form populating, null-use case handling,
             table sorting features as well as a clean, clear, and navigable interface.
            </p>
          </div>
        <div class='responsibilities'>
          <p>Roles: Designer, Front end, Back end, and API routes.<br>
          Technologies: Angular.js, Express, D3.js, SASS, google+</p>
        </div>
      </div>

    <hr>

    <div class="project trailmix">
      <h3 class="project-title">
        <a href="http://www.trailmix.in/">Trailmix</a>
      </h3>
      <p class="project-description-p">Research a hike beforehand.</p>
      <img src="./trailmiximgs2.jpg" class="slide-image" />
      <div class="project-description">
        <div class="description-wrapper">
          <p class="long-description">
            Trail Mix is a modern, full-stack web-application. Trail Mix arose from a real-world need hikers have,
            which is to know relevant information about a hike before actually hiking the trail. Taking our users’
            needs and lifestyles to heart, we crafted a mobile-first design. Before writing a single line of code,
            our team pored over countless wireframes, making sure the UX would be sleek and intuitive.
          </p>
          <p class="long-description">
            By keeping the scope of the project simple, our team was able to provide attention to every detail and execute the idea
            all the way through so that the Trail Mix software supports every use-case, even the null use cases.
            On the back end of the app, we ensure the security of our users through the use of Google social
            authentication,
          </p>
          <p class="long-description">
            which not only authenticates each user but also provides a seamless and secure experience
            by protecting and persisting their personal information all the way through each session. As a result of
            the decision to build the app using JavaScript all the way through the stack, our product is fast and is
            supported by all browsers. Won’t you check it out? https://www.trailmix.in
          </p>
        </div>
      </div>
      <div class='responsibilities'>
        <p>Roles: Designer, Front end, Back end, and API routes.<br>
        Technologies: Hadlebar.js, Express, SASS, Google Map API</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="project tatetucker">
    <h3 class="project-title">
      <a href="http://yupitstate.com">Tate Tucker</a>
    </h3>
    <p class="project-description-p">High tech. music marketing website.</p>
    <img src="./tatetuckerimgs.jpg" class="slide-image" />
    <div class="project-description">
      <div class="description-wrapper">
        <p class="long-description">
        Made using awesome .js technologies
        This website animates Tate's very own handwriting, giving it a personal and interactive feel.
        </p>
        <p class="long-description">
          The site is fully resonsive, and nothing on each song page is static. Each song page boasts a
          link to soundcloud via tonden,
        </p>
        <p class="long-description">
           a paginating coursel, as well as self-typing song lyrics -
          all meant to entice the user and promote the content.
        </p>
      </div>
      <div class='responsibilities'>
        <p>Roles: Designer, Front end, Back end, and API routes.<br>
        Technologies: Toneden.js, Raphael.js, lazylinepainter.js, CSS3, HTML5, typed.js</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="project timesmachine">
    <h3 class="project-title">Times Machine</h3>
    <p class="project-description-p projecto">Search the New York Times api 2.0</p>
    <img src="./images/timesmachine.jpg" class="slide-image" />
    <div class="project-description">
      <div class="description-wrapper">
        <p class="long-description">
          Times Machine was a weekend project inspired by the desire to puruse
          the New York TImes content without the clutter of ads.
        </p>
        <p class="long-description">
          The design is minimal, with a focus on typography and readability.
        </p>
        <p class="long-description">
          The result is a beautiful, elegant way to the search the New York TImes API
          for any subject you would like their take on.
        </p>
      </div>
      <div class='responsibilities'>
        <p>Roles: Sole Producer<br>
        Technologies: .js, HTML5, CSS3, New York Times API 2.0</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="project tatetucker">
    <h3 class="project-title">
      <a href="http://studentideals.com">Student IDeals</a>
    </h3>
    <p class="project-description-p">E-commerce platform for college student discounts.</p>
    <img src="./studentidealsimgs.jpg" class="slide-image" />
    <img src="./studentidealsimgs2.jpg" class="slide-image" />
    <div class="project-description">
      <div class="description-wrapper">
        <p class="long-description">
          DISCOVER:<br />
          We enable all students to pick up their phones and easily identify student-friendly spaces around them.
        </p>
        <p class="long-description">
          SAVE:<br />
          Our mission is simple: to help students take control of their commerce experience and get more every time.
        </p>
        <p class="long-description">
          SHARE:<br />
          We're social, local, and mobile. Our service makes discounts transparent and easily shareable with friends.
        </p>
      </div>
      <div class='responsibilities'>
        <p class="roles">Roles: Lead Front-end Designer, Lead Front end Developer, Product Owner.<br>
        Technologies: Wordpress, PHP, HTML, JS, Appcelerator, iOS</p>
      </div>
    </div>
  </div>

  <hr>

  <h2 class="fun-projects-banner">Fun, little, projects</h2>

  <hr>

  <div class="project politwits">
    <h3 class="project-title">
      <a href="https://www.youtube.com/watch?v=BOGB6tu4V-s&feature=youtu.be">Politwits</a>
    </h3>
    <p class="project-description-p">See the twitter timeline and voting history<br>of US congressional reps.</p>
    <img src="./politwits.jpg" class="slide-image" />
    <div class="project-description">
      <div class="description-wrapper">
        <p class="long-description">

        </p>
        <p class="long-description">

        </p>
        <p class="long-description">

        </p>
      </div>
    </div>
  </div>

  <hr>

  <div class="project sinewave">
    <h3 class="project-title">Sine Wave</h3>
    <p class="project-description-p">See the sounds you make on the keyboard</p>
    <img src="./sinewave.jpg" class="slide-image" />
    <div class="project-description">
      <div class="description-wrapper">
        <p class="long-description">
          Sine Wave is a musical instrument that you play with your keyboard.
          While playing the keybord keys, one can also see the sounds they are making.
          More specifically,
        </p>
        <p class="long-description">
          the user can see the frequencies of the sounds that are being printed
          to an HTML5 canvass element, after being interpreted by the HTML5 audio API.
        </p>
        <p class="long-description">
          To see the source code, and to play the Sine Wave piano, please click thorugh to the site or visit the
          github repository.
          https://github.com/alexUXUI/Sine-Wave-Piano
        </p>
    </div>
  </div>
</div>
</div>
</div>
