<div class="projects">
  <div class="slider-container">
    <div class="slickslide">
      <div class="project flybuy"><a href="/flybuy">
        <h3 class="project-title">Fly Buy</h3></a>
        <img src="./images/fb/fb-carousel.jpg" class="slide-image" />
        <div class="project-description">
          <p>Shows the price of each airline ticket.</p>
        </div>
      </div>
      <div class="project trailmix">
        <h3 class="project-title">Trailmix</h3>
        <img src="./images/tm/trail_mix_master.png" class="slide-image" />
        <div class="project-description">
        <p class="project-description-p">Research a hike beforehand.</p>
      </div>
      </div>
      <div class="project tatetucker">
        <h3 class="project-title">Tate Tucker</h3>
        <img src="./images/tm/tater.jpg" class="slide-image" />
        <div class="project-description">
          <p class="project-description-p">High tech. music marketing website.</p>
        </div>
      </div>
      <div class="project timesmachine">
        <h3 class="project-title">Times Machine</h3>
        <img src="./images/timesmachine.jpg" class="slide-image" />
        <div class="project-description">
          <p class="project-description-p projecto">Search the New York Times api 2.0</p>
        </div>
      </div>
      <div class="project tatetucker">
        <h3 class="project-title">Student IDeals</h3>
        <img src="./images/sid.jpg" class="slide-image" />
        <div class="project-description">
          <p class="project-description-p">E-commerce platform for college student discounts.</p>
        </div>
      </div>
    </div>
  </div>
</div>
