<div class="projects">
  <div class="slider-container">
    <div class="slickslide">
      <div class="project flybuy">
        <img src="./images/rebel_markets.jpg" class="slide-image" />
        <div class="project-description">
          <a href="http://rebelmarkets.firebaseapp.com"><h3 class="project-title">Rebel Markets</h3></a>
          <p>The place for political art.</p>
        </div>
      </div>
      <div class="project flybuy">
        <img src="./images/fb/fb-carousel.jpg" class="slide-image" />
        <div class="project-description">
          <a href="https://fly-buy.cfapps.io/#/"><h3 class="project-title">Fly Buy</h3></a>
          <p>Shows the price of each airline ticket.</p>
        </div>
      </div>
      <div class="project trailmix">
        <img src="./images/tm/trail_mix_master.png" class="slide-image" />
        <div class="project-description">
        <h3 class="project-title"><a href='http://www.trailmix.in/'>Trailmix</a></h3>
        <p class="project-description-p">Research a hike beforehand.</p>
      </div>
      </div>
      <div class="project tatetucker">
        <img src="./images/tm/tater.jpg" class="slide-image" />
        <div class="project-description">
          <h3 class="project-title"><a href="http://yupitstate.com/">Tate Tucker</a></h3>
          <p class="project-description-p">High tech. music marketing website.</p>
        </div>
      </div>
      <div class="project timesmachine">
        <img src="./images/timesmachine.jpg" class="slide-image" />
        <div class="project-description">
          <h3 class="project-title">Times Machine</h3>
          <p class="project-description-p projecto">Search the New York Times api 2.0</p>
        </div>
      </div>
      <div class="project studentideals">
        <img src="./images/sid.jpg" class="slide-image" />
        <div class="project-description">
          <h3 class="project-title"><a href="http://studentideals.com">Student IDeals™</a></h3>
          <p class="project-description-p">E-commerce platform for college student discounts.</p>
        </div>
      </div>
    </div>
  </div>
</div>
