
<div class="projects">
  <div class="my-slick-slider">

    <div class="project flybuy"><a href="/flybuy">
      <h3>Fly Buy</h3></a>
      <img src="./images/fb/fb-carousel.jpg" class="slide-image" />
      <div class="project-description">
        <p> Fly-Buy shows users the price paid, dates, airline, flight number,
          and purchase location of each airplane ticket. </p>
      </div>
    </div>

    <div class="project trailmix">
      <h3>Trailmix</h3>
      <img src="./images/tm/trail_mix_master.png" class="slide-image" />
      <div class="project-description">
      <p class="project-description-p">
        Trail Mix arose from a real-world need hikers have,
        which is to know relevant information about a hike before actually
        hiking the trail.

      </p>
    </div>
    </div>
    <div class="project tatetucker">
      <h3>Tate Tucker</h3>
      <img src="./images/tm/tater.jpg" class="slide-image" />
      <div class="project-description">
        <p class="project-description-p">
          Yupitstate.com is a music marketing webste that I made, pro bono, for a good friend. <!--
          Using awesome .js technologies
          this website animates Tate's very own handwriting, giving it a personal and interactive feel. The site is fully resonsive,
          and nothing on each song page is static. Each song page boasts a link to soundcloud via tonden, a paginating coursel,
          as well as self-typing song lyrics - all meant to entice the user and promote the content. -->
        </p>
      </div>
    </div>
    <div class="project timesmachine">
          <h3>Times Machine</h3>
      <img src="./images/timesmachine.jpg" class="slide-image" />
      <div class="project-description">
        <p class="project-description-p">
          Times machine is a simple app that allows a user to search the New York Times api 2.0
          <!-- for any article they want. While it doesn't return the most premium content, the times machine will
          suprise you by returning old articles! The design for this app is mobile first, with a focus on typography.
          Keeping the design simple was paramount in achieving maximum usability. -->
        </p>
      </div>
    </div>
  </div>
</div>
