<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Bennett</title>
<!--
  _   _ _     _   _                   _
 | | | (_)   | |_| |__   ___ _ __ ___| |
 | |_| | |   | __| '_ \ / _ \ '__/ _ \ |
 |  _  | |_  | |_| | | |  __/ | |  __/_|
 |_| |_|_( )  \__|_| |_|\___|_|  \___(_)
         |/

Thank you for stopping by.
I hope you enjoy the code as well as the content. :)
For more work and information, please see the entire source code.
=> https://github.com/alexUXUI/portfolio
-->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/main.css">

	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.js"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/animate.css/3.1.0/animate.css">

</head>
<body>
<% include ./partials/nav %>
	<header>
		<div class="header-container">
			<h1 class="greeting">About</h1>
			<h2>Hopes, Dreams, Ambitions</h2>
			<p>of a young man<br />
			hell-bent on world edification!</p>
		</div>
	</header>
	<hr>
	<div class="about-section">
		<header class="header" id="header">
			<div class="skew">
				<div class="header-inner">
					<h2>ABOUT MYSELF</h2>
					<hr class="white-pgbrk">
					<img class="my-face" src="./alex_about.jpg" />
					<!-- <hr class="white-pgbrk"> -->
					<p class='me'>I'm a 25 yr. old developer and designer. I studied Diplomacy and World Affairs at Occidental College.
						My studies focused on the roles that art and technology play in shaping normative movements,
						and by extension, international affairs. I taught myself adobe creative sweet while in college.
						After graduating, I worked as a designer on an ambitious software project.
						I fell in love with the software development process and taught myself how to program in basic web technologies
						for a few years before going back to school for full stack development + comp. science.
						I am currently looking to work on projects that allow me to combine and explore computer science, poly science,
						and web art.
					</p>
				</header>
			</div>
		</div>
	</div>
	<hr>
	<div id="btn" class='quotes' >
		<H2>RANDOM QUOTES</H2>
		<p id="quote" class="fadeIn animated"></p>
		<a id="tweet" class="fa fa-twitter fa-3x fadeIn animated"></a>
		<button class="post-btn">Generate Quote</button>
	</div>
	<hr>
	<footer>
		<% include ./partials/nav %>
	</footer>
	<hr>
	<?xml version="1.0" encoding="utf-8"?>
		<!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
		<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 400 134" enable-background="new 0 0 400 134" xml:space="preserve" class="smallLogo">
			<polygon class="triangle" fill="#5FCAE8" points="240,131.1 314.5,2.1 389,131.1 "/>
			<rect class="square" x="9.5" y="2.7" fill="#F1E915" width="128.5" height="128.5"/>
			<circle class="circle" fill="#F0575A" cx="202.5" cy="66.6" r="64.6"/>
		</svg>
	<p class="colophon">Designed and Developed by Alex Bennett, 2016</p>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
	<script src="./js/template.js"></script></body>
	<script src="./js/about.js"></script></body>
</html>
