<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Bennett</title>
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
	<nav>
		<% include ./partials/nav %>
	</nav>
	<header>
		<div class="header-container">
			<h1>Hello! I'm Alex</h1>
			<h2>Developer, Designer, Business</h2>
			<h3>Won't you checkout some of my work, or peruse my online presence?</h3>
		</div>
	</header>
	<hr>
	<main>
		<h2>Projects</h2>
		<p class="call-to-swipe">Swipe or use arrow keys to see more</p>
		<% include ./partials/projects %>
	</main>
	<hr>
	<div class="contact">
		<h1>Let's get in touch</h1>
		<h2>I love to talk about web technologies</h2>
		<div class="social-media">
			<h3>This is what I'm up to on twitter</h3>
			<h3>Link up on linkedin</h3>
			<h3>Checkout some sweet repos</h3>
		</div>
	</div>
	<footer>
		<div>
			<h4>Like what you see?</h4>
			<h5>Here's my resume</h5>
		</div>
		<p>This site was made with love by Alex Bennett, 2016</p>
	</footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
	<script src="./js/home.js"></script>
</body>
</html>
