<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alex Bennett</title>
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./js/home.js"></script>
</head>
<body>
	<nav>
		<% include ./partials/nav %>
	</nav>
	<header>
		<div class="header-container">
			<h1>Hello, welcome. I'm Alex</h1>
			<h2>Developer, Designer, Business</h2>
			<h3>Won't you checkout some of my work, contact me, or peruse my presence?</h3>
		</div>
	</header>
	<main>
		<h1>Here are some of my Projects from 2012-2015</h1>
		<div class="projects">
			<div class="trailmix">
				<h2>Trailmix</h2>
				<p class="project-description">
					Trail Mix is a modern, full-stack web-application.
					Trail Mix arose from a real-world need hikers have,
					which is to know relevant information about a hike before actually
					hiking the trail. Taking our users’ needs and lifestyles to heart,
					we crafted a mobile-first design. Before writing a single line of code,
					our team pored over countless wireframes, making sure the UX would be
					sleek and intuitive. See our designs here: By keeping the scope of
					the project simple, our team was able to provide attention to every detail and
					execute the idea all the way through so that the Trail Mix software supports every
					use-case, even the null use cases. On the back end of the app, we ensure the security of
					our users through the use of Google social authentication, which not only authenticates
					each user but also provides a seamless and secure experience by protecting and persisting
					their personal information all the way through each session. As a result of the decision
					to build the app using JavaScript all the way through the stack, our product is fast and
					is supported by all browsers. Won’t you check it out? https://www.trailmix.in
				</p>
			</div>
			<div class="flybuy">
				<h2>Fly Buy</h2>
				<p class="project-description">
					Fly-Buy shows users the price paid, dates, airline, flight number, and purchase location
					 of each airplane ticket. We made this app based on the real-world need consumers have,
					 which is the ability to make informed purchases of airline tickets based on accurate and available
					 information. Ultimately, the aim of providing the Fly-Buy service is to show users how much their peers
					 paid on a given flight, and by extension, the information one needs to know whether or not they got a good
					 deal and how to get a better deal in the future. Keeping user experience at heart, we made sure to include
					 features that help the user use our app. These usability features include automatic form populating, null-use
					 case handling, table sorting features as well as a clean, clear, and navigable interface.
				</p>
			</div>
			<div class="tatetucker">
				<h2>Tate Tucker</h2>
				<p class="project-description">
					Yupitstate.com is a music marketing webste that I made, pro bono, for a good friend. Using awesome .js technologies
					this website animates Tate's very own handwriting, giving it a personal and interactive feel. The site is fully resonsive,
					and nothing on each song page is static. Each song page boasts a link to soundcloud via tonden, a paginating coursel,
					as well as self-typing song lyrics - all meant to entice the user and promote the content.
				</p>
			</div>
			<div class="timesmachine">
				<h2>Times Machine</h2>
				<p class="project-description">
					Times amchine is a simple app that allows a user to search the New York Times api 2.0
					for any article they want. While it doesn't return the most premium content, the times machine will
					suprise you by returning old articles! The design for this app is mobile first, with a focus on typography.
					Keeping the design simple was paramount in achieving maximum usability.
				</p>
			</div>
		</div>
	</main>
	<div class="contact">
		<h1>Let's get in touch</h1>
		<h2>I love to talk about web technologies</h2>
		<div class="social-media">
			<h3>This is what I'm up to on twitter</h3>
			<h3>Link up on linkedin</h3>
			<h3>Checkout some sweet repos</h3>
		</div>
	</div>
	<footer>
		<div>
			<h4>Like what you see?</h4>
			<h5>Here's my resume</h5>
		</div>
		<p>This site was made with love by Alex Bennett, 2016</p>
	</footer>
</body>
</html>
