body { background-color: white; color:black; }

.navbar { background-color: transparent;
  color:black;
}

li a { background-color: transparent; color:black; }

.navbar-default .navbar-nav>li>a { color:black; }

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: black;
}

.my-slick-slider {
  height: 100%;
  width: 90%;
  margin:auto;
  display: flex;
  flex-direction: row;
}

.my-slick-slider img {
  margin: auto;
}

.my-slick-slider .project p {

  font-size: 1.25em;
}

.my-slick-slider .project p::first-letter {
  font-size: 1.5em;
  margin-left: 3%;
}

header {
text-align: center;

}

.header-container {
  margin-top: 75px;

}

main {
  text-align: center;
}

img {
  width: 100%;
}

.project-description {
  color:#424242;
  background-color: #f7f7f7;
  font-weight: 400;
  z-index: 99;
  padding: 1em;
  font-size: .75em;
  opacity: .7
}

.call-to-swipe {
  color:#ccc;
}

hr {
  width: 90%;
  margin: auto;
  color: red;
  border-color: #f7f7f7;
  margin: 5%;
}
