body { background-color: white; color:black; }

.navbar { background-color: transparent;
  color:black;
  font-size: 1.25em;
}

li a { background-color: transparent; color:black; }


p { font-size: 1.5em; text-align: center; }


h2 { font-family: 'Oswald', sans-serif; letter-spacing: 2 px; }

header { text-align: center; }

.greeting{ margin-bottom: 2%;}


.header-container {
  margin-top: 75px;
  height: 225px;
}

main {
  text-align: center;
}

img {
  width: 100%;
}



hr {
  width: 90%;
  margin: auto;
  border-color: #f7f7f7;
  margin-top: 3%;
  margin-bottom: 3%;
}

.white-pgbrk {
  width: 90%;
  margin: auto;
  border-color: white;
  margin-top: 3%;
  margin-bottom: 3%;
}

.contact {
  text-align: center;
  /*background-color: #f9f9f9;*/
  /*background: linear-gradient(to right, #B2FFD0 , #53FFFF); /* Standard syntax */
  width: 90%;
  margin: auto;
  padding: 3%;
}
.contact-subhead {
  color: #ccc;
}

.smallLogo {
  height:30px;
  margin: auto;
  width:100%;
}

.smallLogoWrapper {
  width: 100%;
  display: flex;
}

.logo {
height:25%;
}

.replay {
  color: #ccc;
}



.me {
  width:60%;
  margin:auto;
  text-align: left;
  font-size: 1.75em;
  height:100%;
  padding: 3%;
}


.my-face {
  width:100%;
  margin-top:3%;
  /*border-radius: 40%;*/
}

.me::first-letter {
  margin-left: 5%;
  font-size: 1.5em;
}


.hiring {
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: white;
  padding: 3%;
  padding-top: .5%;
}

.logo { margin: 0; }

.container {
  padding-top: 60px;
}

.main-container {
background: #e7e7e7;
position: relative;

}
